*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.square-chess{
    width: 10vw;
    height: 10vw;
    font-size: 6vw;
    width: 12vw;
    height: 12vw;
    background: white;
    border: 0;
    height: 100%;
    cursor: pointer;
    color: purple;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 5px solid black; */
}

.black{
    background-color: black;
    background-color: darkgrey;
    background-color: grey;
}

.row{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: 12vw;   
}

.filled{
    color: #ff9933;
}

@media only screen and (min-width: 961px){

    *{
        font-size: 15px;
    }

    .square-chess{
        width: 58.5px;
        height: 58.5px;
        font-size: 30px;    
    }
    .row{
        height: 58.5px;
    }
    .form-div{
        width: 100%;
    }

    /* .game{
        width: 468px;
        width: 100%;
        margin: 0 auto;
    } */
}